@using escale.Models;
@{
  Layout = "_LayoutShopping";

  List<Products> ProductList = new List<Products>();
  using var prod = new z_sqlProducts();
  ProductList = prod.GetSpecialProducts();
}



<div class="classification">
  <div class="row">
    <div class="col-4 d-flex flex-column">
      <a href="ProductWoman.html" class="link-title"></a>
              <a href="#" class="btn btn-primary btn-custom">全榖雜糧類</a>
              <a href="#" class="btn btn-primary btn-custom">豆魚蛋肉類</a>
              <a href="#" class="btn btn-primary btn-custom">蔬菜類</a>
              <a href="#" class="btn btn-primary btn-custom">水果類</a>
              <a href="#" class="btn btn-primary btn-custom">油脂與堅果種子類</a>

    </div>
    <div class="col-8">
      <h2>
<span class="title-text">精選商品</span>
</h2>
      <div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
<div class="swiper">
  <div class="swiper-wrapper">
    @foreach(var item in ProductList)
    {
      <div class="swiper-slide">
        <div class="articleInfo">
          <img src="@item.Remark" alt="blogImg04" class="articleImg" data-bs-toggle="modal"
            data-bs-target="#myModal" />
          <h3 class="articleTitle">@item.ProdName</h3>
          <div class="articleContent">
            <p>
              @item.SpecificationText
            </p>

            <!-- </div> -->
            <div class="articleContentbutton">
              <button class="btn btn-primary" data-toggle="modal" data-target="#cartModal" data-item="@item.ProdName"
                onclick="confirmPurchase('@item.ProdName')">
                購買
              </button>
              <button class="btn btn-secondary" onclick="toggleFavorite(this)">
                收藏
              </button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
<div class="swiper-pagination"></div>
    </div>
    </div>
