@model escale.Models.Products



@{
    ViewData["Title"] = "Detail";
    Layout = "_Layout";
}
@{
  ViewData["Title"] = SessionService.ActionName;
  string ProductImageUrl = "";
  string CateGoryImageUrl = $"~/images/categorys/{SessionService.StringValue2}.jpg";
  List<Categorys> TopCategoryList = new List<Categorys>();
  List<Categorys> DetailCategoryList = new List<Categorys>();
  using var category = new z_sqlCategorys();
  TopCategoryList = category.GetTopCategoryList();
}


<h1>Detail</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
    <dd class="col-sm-10">
      <img src="@Html.DisplayFor(model => model.Remark)" alt="Remark Image" />
    </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInventory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsShowPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsShowPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandSeriesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandSeriesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BarcodeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BarcodeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryNo)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryQty)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificationText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecificationText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

    </dl>
    <!-- 加入購物車/立即結帳 btn -->
                  <div class="social-icon socile-icon-style-1">
                    <ul>
                      <li>
                        <a
                          href="ShoppingCart.html"
                          data-tooltip="加入購物車"
                          class="add-cart add-cart-text btnmy"
                          data-placement="left"
                          tabindex="0"
                          >加入購物車<i class="fa fa-cart-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          href="Payment.html"
                          data-tooltip="立即結帳"
                          class="add-cart add-cart-text btnmy"
                          data-placement="left"
                          tabindex="0"
                          >立即結帳</a
                        >
                      </li>
                    </ul>
                  </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
